html{
	font-family: sans-serif;
	margin-left: 15px;
	margin-right: 20px;
}

#front{
	background-image: url(http://www.studentsoftheworld.info/sites/misc/img/30444_sunset1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.search_bar{
	float: right;
	background-color: black;
}

h1{
	text-align: center;
	font-style: underline;
	border: 2px solid white;
	color: black;
	background-color: white;
}

#quote_green{
	display: inline-block;
}

#wall_green{
	display: inline-block;
}

#success{
	background-color: linear-gradient (to right, red, pink, white;
}